{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/cheeky-chirp.myshopify.com/products/configure/130359/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_blend_custom_image"] != blank %}
  <div class="custom-field custom-field__product-blend-custom-image custom-field__type--image">
    <h3 class="custom-field--title">Product Blend Custom Image</h3>
    <div class="custom-field--value">  
      {% include 'cf-image' with image: product.metafields.custom_fields["product_blend_custom_image"] %}
    </div>
  </div>
{% endif %}