<div class="container-fluid bg-black">
  <div class="black-div-wrapper container">
    <div class="black-box">
<!--       <i class="fa mr-3 fa-shield"></i> -->
      <img class="guaranteeIcon" class="icon-img" src='{{"guarantee_icon.svg"|asset_url}}' />
      <p>Money back guarantee</p>
    </div>
    <div class="black-box">
<!--       <i class="fa mr-3 fa-tree"></i> -->
      <img class="icon-img" src='https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/leave.png?v=1621243414' />
      <p>Organic sourced products</p>
    </div>
    <div class="black-box">
<!--       <i class="fa mr-3 fa-flag"></i> -->
      <img class="icon-img" src='https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/flag.png?v=1621243436' />
      <p>UK Small business</p>
    </div>
    <!--
    <div class="black-box">
<!--       <i class="fa mr-3 fa-support"></i> 
      <img class="icon-img" src='https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/headphone.png?v=1621243428' />
      <p>7 days<span>/</span>week support</p>
    </div>
-->
  </div>  
</div>