{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. THIS FILE WILL BE OVERWRITTEN.
  YOU CAN MODIFY THE LIQUID CODE FOR THIS CUSTOM FIELD HERE:
  https://customfields.bonify.io/dashboard/cheeky-chirp.myshopify.com/products/configure/139462/edit
{% endcomment %}
{% if product.metafields.custom_fields["product_color_picker"] != blank %}
  <div class="custom-field custom-field__product-color-picker custom-field__type--text">
    <h3 class="custom-field--title">Product Color Picker</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["product_color_picker"] }}
    </div>
  </div>
{% endif %}