{% comment %}
  DO NOT MODIFY THIS FILE DIRECTLY. YOU CAN COPY AND PASTE INTO A NEW SNIPPET.
  THIS FILE WILL BE OVERWRITTEN.
{% endcomment %}
<div class="custom-fields-wrapper">
  {% include 'custom_fields.products.product_description_' %}
  {% include 'custom_fields.products.custom_fields_allergies' %}
  {% include 'custom_fields.products.custom_fields_allergies_image' %}
  {% include 'custom_fields.products.custom_fields_uk_image' %}
  {% include 'custom_fields.products.custom_fields_uk' %}
  {% include 'custom_fields.products.custom_fields_sustainable_imag' %}
  {% include 'custom_fields.products.custom_fields_sustainable' %}
  {% include 'custom_fields.products.product_color_picker' %}
  {% include 'custom_fields.products.custom_fields_subtitle' %}
  {% include 'custom_fields.products.product_writing_box' %}
  {% include 'custom_fields.products.product_benefits_image_1' %}
  {% include 'custom_fields.products.product_benefits_text_1' %}
  {% include 'custom_fields.products.product_benefits_image_2' %}
  {% include 'custom_fields.products.product_benefits_text_2' %}
  {% include 'custom_fields.products.product_benefits_image_3' %}
  {% include 'custom_fields.products.product_benefits_text_3' %}
  {% include 'custom_fields.products.product_benefits_image_4' %}
  {% include 'custom_fields.products.product_benefits_text_4' %}
  {% include 'custom_fields.products.product_blend_custom_image' %}
  {% include 'custom_fields.products.product_blend_custom_title' %}
  {% include 'custom_fields.products.product_blend_custom_text' %}
  {% include 'custom_fields.products.product_cook_custom_image' %}
  {% include 'custom_fields.products.product_cook_custom_title' %}
  {% include 'custom_fields.products.product_cook_custom_text' %}
  {% include 'custom_fields.products.product_bake_custom_image' %}
  {% include 'custom_fields.products.product_bake_custom_title' %}
  {% include 'custom_fields.products.product_bake_custom_text' %}
  {% include 'custom_fields.products.product_custom_fields_video' %}
  {% include 'custom_fields.products.product_custom_fields_image' %}
  {% include 'custom_fields.products.product_benefits_' %}
  {% include 'custom_fields.products.product_graphic_section_title' %}
  {% include 'custom_fields.products.product_graphic_section_conten' %}
  {% include 'custom_fields.products.product_textarea_above_review' %}
</div>