<div>
  <div class="product">
    <a href="#"><img src="images/product-image1.jpg" class=" img-fluid" alt=""></a>
    <div>
      <h2><a>Acai</a></h2>
      <p>Use Lorem Ipsum as their default model text,</p>
    </div>
  </div>
</div>